<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    {{#refresh}}
        <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>Electronero Blockchain Explorer</title>
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <style type="text/css">
        {{#css_styles}}{{/css_styles}}
    </style>

</head>
<body>
<header>
    <div class="center">
        <a href="/" target="_self"><img src=""></a>
        <form action="/search" method="get" class="style-1">
            <input type="text" name="value" size="120" placeholder="block height, block hash, transaction hash">
            <input type="submit" value="Search">
        </form>
    </div>
</header>
